.container {
  background-color: #56bbf1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-radius: 7px;
  margin: 15px;

}

.container:hover{
  cursor: pointer;
  background-color: #77caf7;
}

.botao {
  background-color: #77caf7;
  border-radius: 4px;
  border: 1px solid #f2fa5a;
  color: #f2fa5a;
  padding: 8px;
  font-size: 15px;
  margin: 5px;
}

.acoes {
  margin: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

img {
  border-radius: 60px;
}

 ul, li{
  list-style: none;
  padding: 0px;
  margin-left: 10px;
  text-align: start;
}


.nome{
  color: #f2fa5a;
}

.cargo{
  color: #f4bbbb;
}